<!DOCTYPE html>
<html ng-app="kcs">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="container">
    @RenderBody()

    @Scripts.Render("~/bundles/main")
    @Scripts.Render("~/bundles/controllers")
    @RenderSection("scripts", required: false)
</body>
</html>
